In [44]:
import yfinance as yf
import pandas as pd

ticker = 'AAPL'
data = yf.Ticker(ticker)

hist = data.history(period='max', auto_adjust=True)
df = pd.DataFrame(hist).reset_index()
df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,1980-12-12,0.100751,0.101189,0.100751,0.100751,469033600,0.0,0.0
1,1980-12-15,0.095933,0.095933,0.095495,0.095495,175884800,0.0,0.0
2,1980-12-16,0.088923,0.088923,0.088485,0.088485,105728000,0.0,0.0
3,1980-12-17,0.090676,0.091114,0.090676,0.090676,86441600,0.0,0.0
4,1980-12-18,0.093304,0.093742,0.093304,0.093304,73449600,0.0,0.0
...,...,...,...,...,...,...,...,...
10198,2021-05-25,127.820000,128.320007,126.320000,126.900002,72009500,0.0,0.0
10199,2021-05-26,126.959999,127.389999,126.419998,126.849998,56575900,0.0,0.0
10200,2021-05-27,126.440002,127.639999,125.080002,125.279999,94625600,0.0,0.0
10201,2021-05-28,125.570000,125.800003,124.550003,124.610001,71311100,0.0,0.0
10202,2021-06-01,125.080002,125.349998,123.940002,124.279999,67500600,0.0,0.0

In [45]:
import pandas as pd
df = df.rename(columns={'Date':'ds', 'Close':'y'})
# df = pd.DataFrame()

# df['ds'] = hist.index
# df['y'] = hist.Close.values
df.head()

,ds,Open,High,Low,y,Volume,Dividends,Stock Splits
0,1980-12-12,0.100751,0.101189,0.100751,0.100751,469033600,0.0,0.0
1,1980-12-15,0.095933,0.095933,0.095495,0.095495,175884800,0.0,0.0
2,1980-12-16,0.088923,0.088923,0.088485,0.088485,105728000,0.0,0.0
3,1980-12-17,0.090676,0.091114,0.090676,0.090676,86441600,0.0,0.0
4,1980-12-18,0.093304,0.093742,0.093304,0.093304,73449600,0.0,0.0

In [46]:
from prophet import Prophet

m = Prophet(daily_seasonality=False)
# m = Prophet()

m.fit(df)

In [ ]:
future = m.make_future_dataframe(365, freq='D')
forecast = m.predict(future)

In [ ]:
forecast.head()

In [ ]:
forecast[['ds', 'yhat_lower', 'yhat_upper']].tail()

In [ ]:

#m.plot(forecast);

In [ ]:
from prophet.plot import plot_plotly, plot_components_plotly

plot_plotly(m, forecast)

In [ ]:
plot_components_plotly(m, forecast)

## Make function

In [54]:
import yfinance as yf
import pandas as pd
from prophet import Prophet



def prep_ticker(ticker, period='max'):
    """
    make forecast on given ticker
    """
    # pull market data from yahoo finance
    data = yf.Ticker(ticker)
    hist = data.history(period, auto_adjust=True)
    # convert it to dataframe
    df = pd.DataFrame(hist).reset_index()
    # prepare for prophet to run
    df_pred = df.rename(columns={'Date' : 'ds', 'Close' : 'y'})
    return df_pred

def make_forecast(data, periods):
    m = Prophet(daily_seasonality=False)
    m.fit(data)
    future = m.make_future_dataframe(365, freq='D')
    forecast = m.predict(future)
    forecast = forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail()
    return forecast.head()

In [55]:
df = prep_ticker('AAPL')
df

,ds,Open,High,Low,y,Volume,Dividends,Stock Splits
0,1980-12-12,0.100751,0.101189,0.100751,0.100751,469033600,0.0,0.0
1,1980-12-15,0.095933,0.095933,0.095495,0.095495,175884800,0.0,0.0
2,1980-12-16,0.088923,0.088923,0.088485,0.088485,105728000,0.0,0.0
3,1980-12-17,0.090676,0.091114,0.090676,0.090676,86441600,0.0,0.0
4,1980-12-18,0.093304,0.093742,0.093304,0.093304,73449600,0.0,0.0
...,...,...,...,...,...,...,...,...
10198,2021-05-25,127.820000,128.320007,126.320000,126.900002,72009500,0.0,0.0
10199,2021-05-26,126.959999,127.389999,126.419998,126.849998,56575900,0.0,0.0
10200,2021-05-27,126.440002,127.639999,125.080002,125.279999,94625600,0.0,0.0
10201,2021-05-28,125.570000,125.800003,124.550003,124.610001,71311100,0.0,0.0
10202,2021-06-01,125.080002,125.349998,123.940002,124.279999,67500600,0.0,0.0

In [56]:
make_forecast(df, 365)

              ds       yhat  yhat_lower  yhat_upper
10563 2022-05-28  99.274758   88.828684  109.208705
10564 2022-05-29  99.260821   89.353277  109.613821
10565 2022-05-30  99.277792   89.393624  108.954646
10566 2022-05-31  99.260976   89.898682  108.650933
10567 2022-06-01  99.227029   89.859851  109.164865