In [50]:
from pandas_datareader import data as pdr
import pandas as pd
import yfinance as yf
yf.pdr_override()
import matplotlib.pyplot as plt

class Portfoliomaker:

    tickers = []
    start_date = ''
    
    def get_tickers(tickers, date_from):
        x = pdr.get_data_yahoo(tickers, start=start_date)
        df = pd.DataFrame(x[['Adj Close', 'High', 'Low']])
        df.fillna(method='bfill', inplace=True)
        df.fillna(method='ffill', inplace=True)
        return


#     def

In [51]:
tickers = ['BTC-USD', 'TLT', 'SPY']
df = get_tickers(tickers, '2018-01-04')
df

[*********************100%***********************]  3 of 3 completed

               Adj Close                                  High              \
                 BTC-USD         SPY         TLT       BTC-USD         SPY
Date
2018-01-03  15201.000000  254.885162  117.564018  15572.799805  270.640015
2018-01-04  15599.200195  255.959488  117.545380  15739.700195  272.160004
2018-01-05  17429.500000  257.665283  117.209724  17705.199219  273.559998
2018-01-06  17527.000000  258.136414  117.135117  17712.400391  274.100006
2018-01-07  16477.599609  258.136414  117.135117  17579.599609  274.100006
...                  ...         ...         ...           ...         ...
2021-05-21  37304.691406  414.940002  137.669998  42172.171875  418.200012
2021-05-22  37536.632812  419.170013  138.179993  38831.054688  420.320007
2021-05-23  34770.582031  419.170013  138.179993  38289.218750  420.320007
2021-05-24  39000.570312  419.170013  138.179993  39769.582031  420.320007
2021-05-25  39000.570312  419.170013  138.179993  39769.582031  420.320007

                                 Low
                   TLT       BTC-USD         SPY         TLT
Date
2018-01-03  126.199997  14844.500000  268.959991  125.489998
2018-01-04  126.160004  14522.200195  270.540009  125.370003
2018-01-05  126.180000  15202.799805  271.950012  125.360001
2018-01-06  126.029999  16764.599609  272.980011  125.169998
2018-01-07  126.029999  16087.700195  272.980011  125.169998
...                ...           ...         ...         ...
2021-05-21  137.699997  33616.453125  414.450012  137.059998
2021-05-22  138.580002  35383.683594  417.079987  137.889999
2021-05-23  138.580002  31227.339844  417.079987  137.889999
2021-05-24  138.580002  37775.191406  417.079987  137.889999
2021-05-25  138.580002  37775.191406  417.079987  137.889999

[1239 rows x 9 columns]